.main-delivery
    background: $white-dark-color
    padding-top: 72px !important
    padding-bottom: 80px !important
    +max-width($tablet)
        padding-top: 40px !important
        padding-bottom: 60px !important
    +max-width($mobail)
        padding: 24px 0 40px 0 !important


    &__title
        +header2


    &__wrapper
        display: flex
        flex-direction: row
        column-gap: 32px
        +max-width($mobail)
            flex-direction: column
            width: 100%
            align-items: center


    &__container
        +flex
        background: $white-color
        margin-top: 26px
        column-gap: 24px
        padding: 36px 24px
        max-width: 416px
        border-radius: 5px
        box-shadow: 0 2px 5px rgba(199, 193, 168, 0.3)
        +max-width($lg-tablet)
            column-gap: 16px
        +max-width($tablet)
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            padding: 25px 20px 40px 20px
            margin-top: 20px
        +max-width($mobail)
            flex-direction: row
            padding: 12px 16px 20px 15px
            column-gap: 14px
            margin-top: 12px

        &__services
            display: flex
            flex-direction: column
            row-gap: 6px
            +max-width($tablet)
                margin-top: 14px
            +max-width($mobail)
                row-gap: 4px
                margin-top: 0


        &__title
            +header4


        &__text
            font-size: 12px
            line-height: 18px
            font-family: 'Roboto', serif
            font-weight: 400

    &__svg
        display: flex

        svg
            +max-width($tablet)
                max-width: 56px
                max-height: 56px
            +max-width($mobail)
                max-width: 48px
                max-height: 48px

.inner
    +full-wrapper
    +flex
    flex-direction: column