.header
  position: relative
  background: $white-color
  transition: all 0.3s ease
  padding: 45px 0
  +max-width($tablet)
    padding: 32px 0
  +max-width($mobail)
    padding: 12px 0

.inner
  +full-wrapper
  +flex
  justify-content: space-between
  margin: 0 auto
  width: 100%
  top: 0

.header-scroll
  box-shadow: 0 2px 5px rgba(165, 169, 176, 0.3)
  position: sticky
  top: 0
  left: 0
  right: 0
  width: 100%
  z-index: 20
  padding: 0

.header_wrapper
  display: flex
  align-items: center

