.header-logo
  position: relative
  width: 182px
  height: 84px
  +max-width($desktop)
    width: 152px
    height: 60px
    display: flex
  +max-width($lg-tablet)
    width: 132px
    height: 55px
  +max-width($tablet)
    width: 130px
    height: 50px
  +max-width($mobail)
    width: 85px
    height: 40px

  &--scrolled
    width: 68px
    height: 31px

  &:hover
    fill: #E52D2D
    color: #E52D2D
    -webkit-transition: 0.5s
    transition: 0.5s
    cursor: pointer
    +hover-effect