.main
    display: flex
    flex-direction: column
    row-gap: 100px
    flex-wrap: wrap
    min-height: 100vh
    overflow: hidden
    +max-width($tablet)
        row-gap: 80px
    +max-width($mobail)
        row-gap: 60px
        padding-top: 20px