.menu-card
    display: flex
    flex-direction: column
    align-items: center
    box-shadow: 0 2px 5px rgba(165, 169, 176, 0.3)
    border-radius: 5px
    max-width: 304px
    padding: 20px 20px 40px 20px
    position: relative
    transition: .4s
    +max-width($tablet)
        max-width: 236px
        padding: 8px 8px 40px 8px
    +max-width($mobail)
        display: flex
        flex-direction: row
        column-gap: 4px
        min-width: 288px
        max-width: unset
        width: 100%
        padding: 4px 8px 4px 4px
        align-items: flex-start

    &:nth-child(11)
        +max-width($sm-mobail)
            height: 240px

    &:hover
        box-shadow: 0 2px 5px 5px rgba(165, 169, 176, 0.3)

        .menu-card-type
            opacity: 1
            z-index: 5

        .menu-card__title
            +hover-effect

    &-type
        display: flex
        flex-direction: column
        row-gap: 10px
        position: absolute
        top: 12px
        left: 12px
        transition: .4s
        opacity: 0
        +max-width($tablet)
            opacity: 1
            z-index: 5
        +max-width($mobail)
            row-gap: 5px
            top: 4px
            left: 4px
            opacity: 1
            z-index: 5

        &__icon
            position: relative
            width: 24px
            height: 24px
            +max-width($mobail)
                width: 12px
                height: 12px

    &-wrapper
        width: 212px
        min-height: 212px
        max-height: 212px
        justify-content: center
        align-content: center
        display: flex
        align-items: center
        background: url('/images/png/main-menu-pizza-background.png')
        background-size: 212px 212px
        position: relative
        +max-width($mobail)
            min-width: 89px
            max-width: 89px
            min-height: 89px
            background-size: 89px 89px

        &__image
            position: relative
            transition: .4s

            &.small
                width: 155px
                height: 155px
                margin-top: 8px
                margin-right: -2px
                +max-width($mobail)
                    width: 65px
                    height: 65px
                    margin-top: 4px
                    margin-right: -1px

            &.medium
                width: 184px
                height: 184px
                margin-top: 10px
                margin-right: -3px
                +max-width($mobail)
                    width: 77px
                    height: 77px
                    margin-top: 4px
                    margin-right: -3px

            &.large
                width: 212px
                height: 212px
                margin-top: 13px
                margin-right: -9px
                +max-width($mobail)
                    width: 89px
                    height: 89px
                    margin-top: 4px
                    margin-right: -2px

    &-content
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-between
        row-gap: 8px
        height: 100%
        +max-width($mobail)
            align-items: flex-start
            padding: 3px 4px 24px 0

        &__info
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            row-gap: 8px
            +max-width($mobail)
                align-items: flex-start

        &__title
            +header4
            transition: .4s
            text-align: center
            flex-grow: 1
            +max-width($mobail)
                text-align: left

        &__description
            +description
            text-align: center
            +max-width($tablet)
                font-size: 12px
                line-height: 18px
            +max-width($mobail)
                +description
                text-align: left

    &-options
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        row-gap: 12px
        +max-width($mobail)
            align-items: flex-start
            row-gap: 4px

        &__size
            font-family: 'Roboto', serif
            font-weight: 400
            font-size: 12px
            line-height: 18px
            margin-bottom: -8px
            +max-width($mobail)
                margin-bottom: 0px

        &__buttons
            display: flex
            justify-content: space-between
            width: 182px
            height: 32px
            border-radius: 4px
            background: $gray-light-color
            +max-width($mobail)
                width: 164px
                height: 32px
                margin-bottom: 8px

        &__label
            display: flex
            width: 32%
            align-items: center
            justify-content: center
            cursor: pointer
            margin: 2px
            border-radius: 2px
            font-family: 'Roboto', serif
            font-weight: 700
            font-size: 12px
            line-height: 18px
            transition-duration: 0.7s

            &.active
                background: $white-color

        &__button
            display: none

    &-price
        font-family: 'Roboto', serif
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 30px
        +max-width($mobail)
            display: none

    &-button
        padding: 14px 70px
        position: relative
        outline: none
        +max-width($tablet)
            width: 196px
            padding: 9px 54px
        +max-width($mobail)
            width: 120px
            height: 28px

        &__price
            display: none
            +max-width($tablet)
                display: none
            +max-width($mobail)
                display: flex
                position: absolute
                text-transform: lowercase
                top: 4px
                left: 17px
                font-size: 16px
                line-height: 20px
                font-weight: 500
                font-family: 'Roboto', serif
                z-index: 2

        &__text
            z-index: 2
            +max-width($mobail)
                display: none

        &::before
            content: ''
            display: block
            position: absolute
            background: $red-light-color
            border-radius: 5px
            width: 100%
            height: 100%
            left: 0
            top: 0
            transform: scale(1, 0)
            transition: .4s
            z-index: 1

        &:hover
            &::before
                transform: scale(1, 1)