//Основные шрифты
$fontG: 'Alegreya', serif
$font: 'Roboto', serif

//Основные размеры текста
@mixin header1()
  font-family: $fontG
  font-weight: 900
  font-size: 72px
  line-height: 90px
  +max-width($desktop)
    font-size: 52px
    line-height: 65px
  +max-width($mobail)
    font-size: 40px
    line-height: 50px


@mixin header2()
  font-family: $fontG
  font-weight: 900
  font-size: 52px
  line-height: 65px
  +max-width($tablet)
    font-size: 40px
    line-height: 60px
  +max-width($mobail)
    font-size: 28px
    line-height: 35px


@mixin header3()
  font-family: $fontG
  font-weight: 800
  font-size: 32px
  line-height: 40px
  +max-width($tablet)
    font-size: 24px
    line-height: 30px
  +max-width($mobail)
    font-size: 20px
    line-height: 25px


@mixin header4()
  font-family: $fontG
  font-weight: 800
  font-size: 24px
  line-height: 30px
  +max-width($tablet)
    font-size: 20px
    line-height: 27px
  +max-width($mobail)
    font-size: 18px
    line-height: 24px


@mixin accent()
  font-family: $font
  font-weight: 400
  color: $black-color
  font-size: 24px
  line-height: 36px
  +max-width($tablet)
    font-size: 18px
    line-height: 27px
  +max-width($mobail)
    font-size: 16px
    line-height: 24px


@mixin description()
  font-family: $font
  font-weight: 400
  color: $gray-color
  font-size: 12px
  line-height: 18px
  +max-width($tablet)
    font-size: 12px
    line-height: 18px
  +max-width($mobail)
    font-size: 11px
    line-height: 17px


// Цвета сайта
$black-color: #000000
$white-color: #ffffff
$white-dark-color: #F8F6F3

$gray-color: #848A9A
$gray-light-color: #EFF0F1
$gray-lightest-color: #DBDBDB
$gray-dark-color: #939393

$red-color: #E52D2D
$red-light-color: #FF3C3C
$red-dark-color: #BF221E

// Размеры экранов
$xl-desktop: 1500px
$desktop: 1320px
$lg-tablet: 1199px
$xl-tablet: 1024px
$tablet: 992px
$mobail: 750px
$sm-mobail: 575px

$pre-mobail: 600px
$tablet-mini: 768px
$max-width-nopadding: 1400px
$max-width: 1312px
$min-width: 280px


@mixin max-width($width)
  @media only screen and (max-width: $width)
    @content

@mixin min-width($width)
  @media only screen and (min-width: $width)
    @content


@mixin max-height($height)
  @media only screen and (max-height: $height)
    @content

@mixin min-height($height)
  @media only screen and (min-height: $height)
    @content



@mixin full-wrapper()
  margin: 0 auto
  max-width: $max-width
  min-width: $min-width
  +max-width($xl-desktop)
    padding: 0 32px
  +max-width($mobail)
    padding: 0 16px

//Кастомные миксины
@mixin hover-effect()
  fill: $red-color
  color: $red-color
  transition: 0.5s
  cursor: pointer

@mixin button-content()
  display: flex
  border-radius: 5px
  border: none
  text-transform: uppercase
  background: $red-color
  color: $white-color
  cursor: pointer
  font-weight: 900
  font-size: 18px
  line-height: 24.5px
  letter-spacing: 1px
  +max-width($tablet)
    font-size: 16px
    line-height: 21.5px
    letter-spacing: 0.9px
  +max-width($mobail)
    font-size: 16px
    line-height: 20px

@mixin flex()
  display: flex
  justify-content: center
  align-items: center