@import "config"

/*ГЛОБAЛЬНЫЕ СТИЛИ*/
*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  scroll-behavior: smooth

h1, h2, h3, h4, p, ul, li, a, button
  margin: 0
  padding: 0

.wrapper
  +full-wrapper