.modal-wrapper
    position: fixed
    overflow: auto
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgb(0 0 0 / 85%)

    &__window
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        display: flex
        flex-direction: column
        width: 100%
        max-width: 704px
        padding: 32px 32px 40px 32px
        border-radius: 5px
        background: $white-color
        box-shadow: 0 2px 5px rgba(165, 169, 176, 0.3)
        +max-width($mobail)
            padding: 15px
            max-width: 300px

    &__title
        +flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 20px
        +max-width($mobail)
            margin-bottom: 10px

    &__header3
        +header3

    &__close
        fill: $black-color
        cursor: pointer

        &:hover
            fill: $red-color
            transition: 0.5s


.ReactModal__Overlay--after-open
    z-index: 30