.mainStocks
    position: relative

    $root: &

    &Item
        width: 32%
        cursor: pointer
        transition: all 0.3s ease
        text-decoration: none

        &:hover
            #{$root}Container
                +hover-effect


    &Wrapper
        position: relative
        max-width: 416px
        max-height: 247px


    &Container
        display: flex
        flex-direction: column
        text-decoration: none
        color: #000000
        transition: all 0.3s ease


    &Title
        padding-top: 12px
        padding-bottom: 14px
        +header4


    &Description
        +accent
        font-size: 14px
        line-height: 21px

.inner
    display: flex
    gap: 32px
    width: 100%
    +full-wrapper
    +max-width($mobail)
        gap: 16px