.form
    display: flex
    flex-direction: column
    +header4
    font-size: 18px
    line-height: 24px
    row-gap: 12px

    &-contacts
        display: grid
        margin-bottom: 20px
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 32px
        grid-row-gap: 24px
        +max-width($mobail)
            display: flex
            flex-direction: column
            row-gap: 10px
            margin-bottom: 0

        &__name
            grid-area: 1 / 1 / 2 / 2

        &__phone
            grid-area: 1 / 2 / 2 / 3

        &__address
            grid-area: 2 / 1 / 3 / 3

    &-input
        display: flex
        padding: 13px 12px
        width: 100%
        height: 44px
        font-family: 'Roboto', serif
        font-weight: 400
        font-size: 16px
        color: #A6A6A6
        background: #FFFFFF
        border: 1px solid #C4C7CA
        border-radius: 4px

        &:hover
            border: 1px solid $black-color

        &:focus
            border: 2px solid #8FC9FF
            outline: none
            color: $black-color

        &:active
            border: 1px solid #3F8FE5

        &:target
            color: $black-color

        &:-webkit-autofill
            box-shadow: 0 0 0 30px #EEF0F3 inset !important
            border: none

        &__errors
            color: #FB7A7A
            font-size: 13px
            font-weight: 400
            line-height: 18px
            font-family: 'Roboto', serif


    &-payment
        display: flex
        flex-direction: column
        row-gap: 18px
        margin-top: 2px
        margin-bottom: 20px
        +max-width($mobail)
            margin-bottom: 0
            margin-top: 0
            row-gap: 10px

        &__errors
            color: #FB7A7A
            font-size: 13px
            font-weight: 400
            line-height: 18px
            font-family: 'Roboto', serif

        &__container
            display: flex
            align-items: center
            column-gap: 8px
            cursor: pointer

        &__radiobutton
            cursor: pointer
            position: relative
            width: 20px
            height: 20px
            outline: none

        &__text
            +accent
            font-size: 16px !important
            line-height: 18px !important
            +max-width($sm-mobail)
                max-width: 230px

    &-button
        align-items: center
        justify-content: center
        max-width: 240px
        padding: 14px 33px
        +max-width($mobail)
            max-width: 270px

        &:hover
            background: $red-light-color

        &:active
            background: $red-dark-color

    &-description
        +description

.default-text
    +header4
    font-size: 18px
    line-height: 24px