.carts-container
    display: flex
    flex-direction: column
    +max-width($mobail)
        margin-bottom: 10px

    &__list
        list-style: none
        overflow-y: auto
        max-height: 189px
        +max-width($mobail)
            max-height: 257px

    &__item
        +flex
        justify-content: space-between
        position: relative
        border-top: 1px solid #DCDFE2
        padding: 8px 0
        +max-width($mobail)
            padding: 4px 0

        &:last-child
            border-bottom: 1px solid #DCDFE2


    &__info
        display: flex
        align-items: center
        width: 40%
        gap: 5px
        +max-width($mobail)
            flex-direction: column
            gap: normal

    &__inner
        +flex
        width: 50%
        gap: 10px
        +max-width($mobail)
            flex-direction: column
            justify-content: center
            height: 100%
            gap: 10px
            min-height: 95px

    &__card__image
        position: absolute
        top: 3px
        +max-width($mobail)
            left: 5px

        img
            width: 12px
            height: 12px

    &__card__size
        position: relative
        width: 77px
        height: 77px

    &__info__title
        display: flex
        flex-direction: column
        +max-width($mobail)
            grid-area: 1 / 2 / 2 / 3
            align-items: center

    &__target
        +flex
        +max-width($mobail)
            grid-area: 2 / 2 / 3 / 3
            width: 100%

        &__delete
            +flex
            width: 24px
            height: 24px
            border-radius: 50%
            border: none
            cursor: pointer
            background: #C5CBD5
            +max-width($mobail)
                width: 16px
                height: 16px

            &:hover
                background: #EEF0F3
                transition: 0.5s

        &__add
            +flex
            width: 24px
            height: 24px
            border-radius: 50%
            border: none
            cursor: pointer
            background: #C5CBD5
            +max-width($mobail)
                width: 16px
                height: 16px

            &:hover
                background: $red-color
                transition: 0.5s


    &__count
        +flex
        border: 1px solid #C4C7CA
        border-radius: 4px
        padding: 11px 18px
        font-size: 16px
        font-family: 'Roboto', serif
        line-height: 18px
        margin: 0 8px
        width: 60px
        font-weight: 400
        +max-width($mobail)
            width: 40px
            padding: 0

    &__item__summary
        +flex
        font-family: 'Alegreya', serif
        font-weight: 800
        font-size: 24px
        line-height: 33px
        width: 30%
        +max-width($mobail)
            width: fit-content
            font-size: 18px
            line-height: 21px

    &__item__delete
        display: flex
        position: absolute
        fill: #A9A9A9
        top: 10px
        right: 15px
        height: 24px
        width: 24px
        cursor: pointer
        +max-width($mobail)
            top: 5px
            right: 0

    &:hover
        fill: $red-color
        transition: 0.5s

    &__summary
        display: flex
        justify-content: flex-end
        margin-right: 32px
        margin-top: 8px
        +max-width($mobail)
            width: 100%

        &__payment
            font-weight: 800
            font-size: 32px
            line-height: 44px
            margin-left: 20px
            +max-width($mobail)
                font-size: 21px
                line-height: 32px

.default-text
    font-family: 'Alegreya', serif
    font-weight: 800
    font-size: 18px
    line-height: 24px

.default-description
    color: $black-color
    font-weight: 400
    font-family: $font
    font-size: 12px
    line-height: 18px