.slickSlider

    &Inner
        +full-wrapper
        +max-width($mobail)
            padding: 0


    &Container
        display: flex
        flex-direction: column
        row-gap: 8px
        margin-top: 13px


    &Title
        +header3


    &Description
        +accent
        font-size: 14px !important
        line-height: 21px !important


    :global(.slick-slider)
        width: 100vw
        padding: 0 16px
        display: flex
        flex-direction: column
        margin: 0 auto


    :global(.slick-dots)
        display: flex
        justify-content: center
        margin: -20px auto
        list-style-type: none

        li
            width: 12px
            height: 12px
            border-radius: 6px

        button
            width: 12px
            height: 12px
            padding: 0
            border-radius: 6px
            background: #DFE3EB

            &::before
                content: none


    :global(.slick-active)
        button
            width: 12px
            height: 12px
            border-radius: 6px
            background: $red-color