.footer
    position: relative
    padding: 30px 0
    background: $black-color
    color: $white-color


.inner
    +full-wrapper
    +flex
    justify-content: space-between
    margin: 0 auto
    width: 100%
    +max-width($mobail)
        flex-direction: column
        padding: 25px 56px 40px 56px

    .footer-container
        +flex
        justify-content: space-between
        column-gap: 100px
        +max-width($mobail)
            flex-direction: column
            row-gap: 25px

        &__logo
            fill: $white-color
            width: 112px
            height: 51px
            transition: all 0.3s ease
            +max-width($mobail)
                width: 79px
                height: 37px

            &:hover
                +hover-effect

        &__phone
            display: flex
            flex-direction: column
            row-gap: 6px
            +max-width($mobail)
                align-items: center

        &__tel
            +header4
            text-decoration: none
            color: $white-color
            transition: all 0.3s ease
            +max-width($mobail)
                +header4

            &:hover
                +hover-effect


        &__description
            +description
            color: $white-color


    .footer-policy
        +max-width($mobail)
            margin-top: 10px

        a
            color: $white-color
            text-decoration: none
            +description

            &:hover
                +hover-effect
