.inner
    +full-wrapper
    gap: 30px
    display: flex
    flex-direction: column
    +max-width($mobail)
        gap: 20px

.mainBenefits
    display: flex
    align-items: center
    flex-direction: column
    row-gap: 40px
    +max-width($tablet)
        row-gap: 12px
    +max-width($mobail)
        row-gap: 20px

    &Container
        display: flex
        align-items: center
        column-gap: 32px
        width: 874px
        position: relative

        &:nth-child(2)
            flex-direction: row-reverse
            +max-width($mobail)
                flex-direction: initial

        +max-width($tablet)
            column-gap: 41px
            width: 100%
        +max-width($mobail)
            column-gap: 16px
            align-items: flex-start


        &ImageWrapper
            position: relative
            width: 304px
            height: 304px
            +max-width($tablet)
                min-width: 243px
                max-width: 243px
                min-height: 243px
                max-height: 243px
            +max-width($mobail)
                min-width: 78px
                min-height: 78px
                max-width: 78px
                max-height: 78px

        &Image
            border-radius: 130px
            +max-width($tablet)
                border-radius: 104px
            +max-width($mobail)
                border-radius: 33px


        &Info
            display: flex
            flex-direction: column
            row-gap: 12px
            max-width: 416px
            +max-width($mobail)
                row-gap: 4px


        &Title
            +header3


        &Text
            font-family: $font
            font-weight: 400
            font-size: 14px
            line-height: 21px
            +max-width($mobail)
                font-size: 12px
                line-height: 18px