.inner
    +full-wrapper
    width: 100%

.mainContent
    display: flex
    position: relative
    margin: 0 auto
    align-items: center
    +max-width($mobail)
        flex-direction: column-reverse
        gap: 0


    &Title
        display: flex
        flex-direction: column
        width: 45%
        +max-width($tablet)
            width: 50%
        +max-width($mobail)
            width: 100%


        &Heading
            letter-spacing: 1px
            +header1()


        &Accent
            max-width: 441px
            margin: 12px 0 32px
            +accent()
            +max-width($tablet)
                max-width: 369px
                margin: 12px 0 24px
            +max-width($mobail)
                margin: 8px 0 16px
                +accent


    &Button
        padding: 18px 70px
        +max-width($mobail)
            letter-spacing: 1px
            padding: 14px 60px
            align-items: center
            max-width: 288px

        &:hover
            background: $red-light-color

        &:active
            background: $red-dark-color

    &Wrapper
        width: 54%
        position: relative
        height: 630px
        +max-width($tablet)
            width: 50%
            height: 315px
        +max-width($mobail)
            width: 100%
            height: 100%


        &Block
            position: absolute
            height: 630px
            width: 1007px

            +max-width($tablet)
                width: 503px
                height: 315px

            +min-width($mobail)
                top: 50%
                transform: translateY(-50%)
                left: 10px

            +max-width($mobail)
                position: relative
                width: 100%
                height: 100%
                left: 16px
