.header-order
  +flex
  column-gap: 12px
  cursor: pointer
  position: relative

  $root: &

  &:hover
    #{$root}__image
      +hover-effect

    #{$root}__title
      +hover-effect

  &__image
    &--scrolled
      width: 32px
      height: 32px

  &__counter
    +flex
    position: absolute
    top: 0
    left: 25px
    border-radius: 10px
    color: $white-color
    background: $red-color
    width: 20px
    height: 20px
    font-family: 'Roboto', serif
    font-size: 11px
    line-height: 18px
    font-weight: 500
    z-index: 10
    +max-width($tablet)
      top: -10px

    &--scrolled
      top: 10px
      left: 20px
      +max-width($tablet)
        top: -8px
        right: 20px

  &__info
    display: flex
    flex-direction: column
    width: 160px
    +max-width($tablet)
      display: none

    &.open
      +max-width($tablet)
        display: flex

    &--scrolled
      padding: 9px 0

    .header-order__title
      font-size: 18px
      line-height: 24.5px
      text-transform: uppercase
      transition: all 0.3s ease

      &--scrolled
        font-weight: 700
        font-size: 14px
        line-height: 19px
        letter-spacing: 1px

    .description
      +description