.header-nav
  display: flex
  align-items: center
  column-gap: 60px
  list-style: none
  font-size: 18px
  line-height: 24.5px
  text-transform: uppercase
  +max-width($desktop)
    column-gap: 30px
  +max-width($lg-tablet)
    column-gap: 10px
    padding: 0 10px
  +max-width($tablet)
    display: none

    &.open
      display: flex

  &--scrolled
    &__item
      font-family: 'Alegreya', serif
      font-size: 16px
      font-weight: 700
      line-height: 22px

  &__item
    min-width: 55px
    &:hover
      +hover-effect