.main-inst
    flex-direction: column
    padding: 0 !important
    +flex
    +max-width($mobail)
        text-align: center

    &-title
        +header2

    &-link
        +header4
        margin: 13px 0 46px 0
        transition: all 0.3s ease
        +max-width($tablet)
            margin: 0px 0px 20px 0px

        a
            color: $gray-color
            text-decoration: none

            &:hover
                opacity: 0.4
                cursor: pointer
                transition: all 0.3s ease

    &-pictures
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-rows: repeat(2, 1fr)
        grid-column-gap: 0
        grid-row-gap: 0
        //width: 100%
        +max-width($tablet)
            grid-template-columns: repeat(3, 1fr)
        +max-width($mobail)
            grid-template-columns: repeat(2, 1fr)

        &__image
            display: flex
            +max-width($tablet)
                &:nth-child(n+7)
                    display: none
            +max-width($mobail)
                &:nth-child(n+5)
                    display: none