.mobile-nav
    +max-width($tablet)
        margin-left: 40px
    +max-width($mobail)
        margin-left: 24px

    &__menu
        position: fixed
        top: 0
        right: -320px
        height: 100vh
        width: 320px
        background: #313945
        transition: 0.5s ease-in-out
        display: flex
        flex-direction: column
        justify-content: space-between
        z-index: 20
        visibility: hidden
        +max-width($tablet)
            width: 320px

        &.active
            right: 0
            visibility: visible
            +max-width($mobail)
                &.active
                    width: 100%
                    overflow: auto

    &__button
        border: none
        background: $white-color
        cursor: pointer
        display: none
        +max-width($tablet)
            display: flex
        +max-width($mobail)
            display: flex

    &__btn
        &:hover
            +hover-effect

    &__title
        +max-width($tablet)
            display: flex
            justify-content: flex-end
            padding: 44px 36px 0 0
        +max-width($mobail)
            justify-content: space-between
            padding: 12px 16px

    &__logo
        +max-width($tablet)
            display: none
        +max-width($mobail)
            display: flex
            width: 85px
            height: 39px
            fill: $white-color

            &:hover
                +hover-effect

    &__close
        +max-width($tablet)
            &:hover
                cursor: pointer
                +hover-effect

    &__list
        +max-width($tablet)
            +flex
            flex-direction: column
            text-transform: uppercase
            list-style: none
            text-align: center
            padding: 36px 60px
            color: $white-color
            font-weight: 700
            font-size: 18px
            line-height: 24px

    &ListBlock
        +max-width($tablet)
            align-items: center
            justify-content: center
            border-top: 1px solid #1D2228
            padding: 24px
            width: 200px

            &:nth-child(1)
                border: none


    &__link

        &:hover
            +hover-effect


    &__contacts
        +max-width($tablet)
            +flex
            flex-direction: column
            padding: 0 60px 40px 60px

    &__text
        +max-width($tablet)
            font-weight: 700
            font-family: 'Roboto', serif
            font-size: 12px
            line-height: 18px
            text-transform: uppercase
            color: #A8B0BC

    &__tel
        +max-width($tablet)
            text-decoration: none
            color: $white-color
            +header3

            &:hover
                +hover-effect

    &__description
        +max-width($tablet)
            +description

    &__lang
        +max-width($tablet)
            display: none
        +max-width($mobail)
            display: flex
            margin-top: 40px
            color: $white-color
            font-size: 12px
            text-transform: uppercase
            line-height: 16px
            font-weight: 700
            justify-content: center
            text-decoration: none