.header-container
    display: flex
    column-gap: 32px
    align-items: center
    +max-width($desktop)
        column-gap: 24px

.header-lang
    border-radius: 24px
    padding: 12px 11px
    cursor: pointer
    font-size: 18px
    line-height: 24.5px
    border: none
    background: $gray-light-color
    font-weight: 900
    +max-width($tablet)
        margin-left: 70px
    +max-width($mobail)
        display: none

    &:hover
        +hover-effect

    &--scrolled
        display: none