.main-menu
  display: flex
  flex-direction: column
  align-items: center
  row-gap: 40px
  +max-width($xl-desktop)
    padding: 0 20px
  +max-width($mobail)
    padding: 0
    row-gap: 20px

.inner
  +full-wrapper