.main-menu
    &__heading
        +header2


    &__nav
        display: flex
        list-style: none
        column-gap: 40px
        cursor: pointer
        text-transform: uppercase
        +max-width($mobail)
            align-items: center
            column-gap: 28px

        &__list
            font-size: 18px
            line-height: 24px
            +max-width($tablet)
                font-size: 16px
                line-height: 22px
            +max-width($mobail)
                display: none


    &__nav__content
        display: flex
        align-items: center
        flex-direction: column
        position: relative

        &.active
            span
                color: $red-color

            svg
                +max-width($mobail)
                    +hover-effect



        &:hover
            +hover-effect

            .main-menu__nav__svg
                opacity: 1
                top: -28px


    &__nav__svg
        position: absolute
        transition: .4s
        display: flex
        top: -15px
        opacity: 0
        +max-width($mobail)
            opacity: 1
            position: initial
            //fill: $red-color

            &:hover
                +hover-effect