.header-phone
  display: flex
  column-gap: 12px
  align-items: center

  &--scrolled
    padding: 9px 0

  .header-phone__image
    transition: all 0.3s ease
    &:hover
      +hover-effect

    &--scrolled
      width: 32px
      height: 32px

  .header-phone__contacts
    display: flex
    flex-direction: column
    width: 192px
    +max-width($tablet)
      display: none

    &open
      +max-width($tablet)
        display: flex

    .header-phone-contacts__tel
      font-size: 24px
      line-height: 32.66px
      text-decoration: none
      transition: all 0.3s ease
      color: $black-color

      &--scrolled
        font-weight: 700
        font-size: 18px
        line-height: 24.5px
        letter-spacing: 1.3px
        transition: all 0.3s ease

      &:hover
        +hover-effect

    .description
      +description
      &--scrolled
        font-size: 12px
        line-height: 18px
        font-weight: 400
        font-family: 'Roboto', serif